.Dienst {
	@media screen and(max-width: 980px){
		@include span-columns(12);
	}
}

.Dienst-sidebar {

	li {
		color: red;
	}
}

.Dienst-content{
	@media screen and(max-width: 980px){
		@include span-columns(12);
	}
}

#query-posts-2 ul{
	background-color: $c-blue;
	padding: 1em;
	
}

.Dienst-sidebar {

	@media screen and(max-width: 980px){
		@include span-columns(12);
	}
	.entry-title{
		color: red;

	  a {
	  	color: $c-white;
		// background-color: $c-blue;
	  	font-size: 1.2em;
	  	// line-height: 2em;
	  	margin-left: 1em;
		cursor: pointer;
		-webkit-duration: .3s;
		-moz-duration: .3s;
		-o-duration: .3s;
		transition-duration: .3s;

		&:hover{
		background: $c-white;
		text-decoration: none;
		color: $c-blue;
		}


	  }
	}
}

// .Dienst-sidebar > div:nth-child(2){
// 	background-color: $c-blue;
// 	margin-top: 1em;
// 	padding-top: 1em;
// 	padding-bottom: 1em;
// 	border-bottom-left-radius: 10px;
//  	border-bottom-right-radius: 10px;
// }

// .Dienst-sidebar > div:nth-child(2){
// 	background-color: $c-white;
// 	margin-top: 1em;
// 	padding-top: 1em;
// 	padding-bottom: 1em;
// 	border-bottom-left-radius: 10px;
//  	border-bottom-right-radius: 10px;
// }

.Tagline-dienst{
	padding: 1em;
	background-color: $c-blue;
	color: white;
	text-align: center;
	cursor: pointer;
	-webkit-duration: .3s;
	-moz-duration: .3s;
	-o-duration: .3s;
	transition-duration: .3s;

  &:hover{
   background: $c-lightblue;
   text-decoration: none;
   color: red;
   }

	a{
		color: $c-white;
		padding: 2em;
		 &:hover{
		 	text-decoration: none;
		 	color: black;
		 }
	}
}


