.Footer {
	background-color: $c-blue;
}

.Footer-inner {
	background-color: $c-blue;
	color: $c-white;

}

.Footer-social {
	.Icon {
		fill: white;
		transition: .3s; 
	   	height: 3em;
		width: 3em;
		margin-right: 1em;
		&:hover {
			fill: $c-lightblue;
		}
	}
}


.Footer-inner .widget {
	@include span-columns(3);
	@media screen and(max-width: 980px){
		@include span-columns(12);
	}
}

.widgettitle{
	color: $c-white;
	font-size: 16px;
	margin-top: 2.5em;
}

.Footer-text{
	color: $c-white;
	margin-top: 2.5em;

	a{
		color: $c-white;
	}
	@media screen and(max-width: 980px){
		margin: 0;
	}
}

.Footer-logo{
	@media screen and(max-width: 980px){
		@include span-columns(12);
	}
}

.Footer-text-under{
	color: $c-lightblue;
}

//Footer link
#text-4 > div:nth-child(2) > ul:nth-child(1) > li:nth-child(3) > a:nth-child(1){
	color: #A7DEFF;
}

#menu-footermenu{
	color: black;
	.menu {
		width: 100%;
	}

}

