// *************************************
//
// Navigation
// -> Reusable navigation module
//
// *************************************

.Navigation {
  margin-top: 4px;
  text-align: center;
  background-color: $c-white;
  // padding-top: 0.2em;
  // padding-left: 1em;
  // padding-right: 1em;
  padding-bottom: 0.2em;
  display: inline-block;
  float:left;
  text-decoration: none;

  @media screen and(max-width: 980px){
    // margin-left: 6em;
    background-color: transparent;
    padding: 0;
  }
}

// -------------------------------------
// Module specific variables
// -------------------------------------

// Module-variableName

// -------------------------------------
// Modifiers
// -------------------------------------

// -------------------------------------
// States
// -------------------------------------

.Navigation-link.is-active {
  text-decoration: none;
  background-color: $c-blue;
  color: $c-white;

}

// -------------------------------------
// Context
// -------------------------------------

// .has-module

// -------------------------------------
// Submodules
// -------------------------------------

// ----- List item ----- //

.Navigation-listItem {
  display: inline;
  margin-left: 0 rem(5px);
  &:first-of-type {
    margin-left: 0;
  }
  &:last-of-type {
    margin-right: 1em;
  }
  &:nth-of-type(5){
    .Navigation-link {
      background-color: $c-blue;
      color: $c-white;  
    }

  }

#js-navCollapseTarget > li:nth-child(3){
  margin-left: 5px;
}


  @media screen and(max-width: 980px){
    display: block;
    padding: 0.5em;

    &:hover{
   background: transparent;
    text-decoration: underline;

   }
    
  }
}

// ----- Navigation link ----- //

.Navigation-link {
  text-transform: uppercase;
  font-size: 12px;
  // font-weight: 600;
  letter-spacing: 1px;
  text-decoration: none;
  background-color: $c-lightblue;
  color: $c-blue;
  word-spacing: 5px;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 0.5em;
  padding-top: 2.2em;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-right: 10px;


  cursor: pointer;
  -webkit-duration: .3s;
  -moz-duration: .3s;
  -o-duration: .3s;
  transition-duration: .3s;

  &:hover{
   background: $c-blue;
   text-decoration: none;
   color: $c-white;
   }


  @media screen and(max-width: 980px){
    display: inline-block;
    width: 100%;
    // margin-top: 1em;
    padding: 1em;
    // padding-left: 1em;
    // padding-right: 2em;
    color: $c-blue;
  }
}

.Navigation-link--invertedBold {
  color: $c-white; 
  font-weight: bold;
}

// .Navigation-listItem.is-active {
//   background-color: red;
// }

.Navigation-list.is-hidden {
    display: none;
}

.Navigation-wrap{
  overflow: hidden;
  height: 4em;
  background-color: $c-lightblue;
  @media screen and(max-width: 980px){
    height: auto;
  }
}

.Navigation-listItem{
     @media screen and(max-width: 980px){
      display: inline-block;
      width: 100%;
    }
   
}

.Navigation-list--dropdown{
  
  background-color: $c-blue !important;
  z-index: 99999;
  position: absolute;
  border: 0;
  // margin-left: 11.5em;
  margin-top: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 5px;



  .Navigation-listItem{
    border: 0;
 
     &:hover{
        text-decoration: underline;
        // background-color: $c-white;
      }
    }
    .Navigation-link.is-active {
  // text-decoration: underline;
    color: $c-white !important;
    }

  .Navigation-listItem,
  .Navigation-link{
    display: inline-block;
    margin-left: 0px !important;
    color: $c-white !important;
    background-color: $c-blue;
    @media screen and(max-width: 980px){
      display: block;
    }
   //  &:hover{
   //  background: $c-lightblue;
   //  text-decoration: none;
   //  color: $c-white;
   // }
  }
}

.Nav-toggle{
  background-color: blue;
}
li.Navigation-listItem:nth-child(1) > a:nth-child(1){
  // display: none !important;
  @media screen and(max-width: 980px){
    display: inline-block;
  }

  li.is-active{
    display: none !important;
  }
}

.Navigation-line{
  border-top: 2px solid $c-blue;
  margin-top: 1em;
}

div.u-gridContainer:nth-child(5) > nav > div{
  float: right;
  font-size: 2em;
  display: inline-block;
  padding: 0;
  margin-right: 10em;

}

div.u-gridContainer:nth-child(5) > nav:nth-child(2) > div:nth-child(1){
  float: left;
  font-size: 2em;
  display: inline-block;
}