// .Slider{
// 	height: 100px;
// 	width: 700px;
// 	float:left;
// 	margin-bottom: 9px;
// 	margin-left: 33px;
// }

// .Slider {

// 	@include row();x
// 	// position: relative;

// 	.bx-viewport {
// 	    background-color: inherit;
// 	    border: none;
// 	    box-shadow: none;
// 	    height: 149px !important;
// 	}
// }
.Slider-frame {
	width: 100%;
	overflow: hidden; 
}

.bx-wrapper li {
    text-align: center;
    width: 98%;
}

.Slider-slider{
	// margin: 1em;
	overflow: hidden;
	height: 148px;
  	@media screen and(max-width: 980px){
		display: none;
	}
}

.Slider {
	@media screen and(max-width: 980px){
		display: none;
	}
}

// .Slider-home{
// 	margin: 1em;
// 	overflow: hidden;
// 	height: 148px;
// }

.bx-viewport {
	    background-color: inherit;
	    border: none;
	    box-shadow: none;
	    height: 149px !important;
	    overflow: hidden;
	    // width: 69% !important;
	    // width: 48em;

	}
