.Slider{
	height: 150px;
	width: 700px;
	float:left;
	margin-bottom: 9px;
	margin-left: 33px;
}

// .Slider {

// 	@include row();
// 	// position: relative;

// 	.bx-viewport {
// 	    background-color: inherit;
// 	    border: none;
// 	    box-shadow: none;
// 	}
// }
// .Slider-frame {
// 	width: 100%;
// 	overflow: hidden; 
// }