// *************************************
//
// Global.scss
// -> Slate v0.1.0
//
// *************************************

// -------------------------------------
// Libs
// -------------------------------------

// ----- Reset ----- //
@import "../../lib/scss/normalize/normalize";

// ----- Bourbon ----- //
@import "../../lib/scss/bourbon/bourbon";

// ----- Bourbon Neat ----- //
@import "../../lib/scss/neat/neat";

// ----- Native wordpress styles ----- //
@import "../../lib/scss/wp/wp";

// ----- Override ----- //
@import "../../lib/scss/libs-override";

// -------------------------------------
// Core
// -------------------------------------

// ----- Helpers ----- //
@import "core/helpers";

// ----- Settings ----- //
@import "core/settings";

// ----- Base ----- //
@import "core/base";

// ----- Content ----- //
@import "core/utilities";

// -------------------------------------
// Modules
// -------------------------------------

@import "modules/article";

@import "modules/button";

@import "modules/equalheight";

@import "modules/header";

@import "modules/footer";

@import "modules/icon";

@import "modules/nav-toggle";

@import "modules/diensten";

@import "modules/sidebarmenu";

@import "modules/logo";

@import "modules/home";

@import "modules/navigation";

@import "modules/table";

// -------------------------------------
// Inbox
// -------------------------------------

// #post-4 > h2:nth-child(1){
// 	display: none;
// }

.Column{
	// margin-left: 33em;
}

.Column img{
	margin-bottom: 1em;
}

.Youtube-title{
	color: $c-blue;
	margin-top: 1em;
	margin-bottom: 1em;
}

.Keurmerken{
	margin-left: 41em;
	margin-top: 5em;
}

.Offerte-img{
	max-width: 322%;
}

.Offerte-map{
	max-width: 310%;
}

.gf_inline::after{
	clear: both;
}

.menu-italiaans{
	display: inline;
}

#menu-italiaans > li:nth-child(1) > a:nth-child(1){
	background: url("/files/2014/06/venetian.jpg");
	background-repeat: no-repeat;
	background-size: 17em;
	background-position: top-left;
	display: inline;

}

#menu-italiaans > li:nth-child(2) > a:nth-child(1){

	background: url("/files/2014/06/antico.jpg");
	background-repeat: no-repeat;
	background-size: 17em;
	background-position: top-left;
	display: inline;

}
#menu-italiaans > li:nth-child(3) > a:nth-child(1){

	background: url("/files/2014/06/marmorino.jpg");
	background-repeat: no-repeat;
	background-size: 17em;
	background-position: top-left;
	display: inline;

}

#menu-italiaans > li:nth-child(4) > a:nth-child(1){

	background: url("/files/2014/06/beton.jpg");
	background-repeat: no-repeat;
	background-size: 17em;
	background-position: top-left;
	display: inline;

}

li.icon::before {
	content: "";
	display: inline-block;
	height: 1em;
	width: 1em;

	vertical-align: middle;
	padding-bottom: 0.2em;
	margin-right: 0.5em;
	background-repeat: no-repeat;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;	
	box-sizing: border-box;		
}   

li.check::before { 
	background-image: url('/files/2014/06/check.png');
	height: 1.3em;
	width: 1.3em;

}

.Offerte{
	margin-top: 2.5em;
}

.Usp-list{
	font-weight: 600;
	line-height: 2wem;
}



.Youtube > iframe:nth-child(2){
	@media screen and(max-width: 980px){
		width: 21em;
	}	
}


