// *************************************
//
// Global.scss
// -> Slate v0.1.0
//
// *************************************

// -------------------------------------
// Libs
// -------------------------------------

// ----- Reset ----- //
@import "../../lib/scss/normalize/normalize";

// ----- Bourbon ----- //
@import "../../lib/scss/bourbon/bourbon";

// ----- Bourbon Neat ----- //
@import "../../lib/scss/neat/neat";

// ----- Native wordpress styles ----- //
@import "../../lib/scss/wp/wp";

// ----- Override ----- //
@import "../../lib/scss/libs-override";

// -------------------------------------
// Core
// -------------------------------------

// ----- Helpers ----- //
@import "core/helpers";

// ----- Settings ----- //
@import "core/settings";

// ----- Base ----- //
@import "core/base";

// ----- Content ----- //
@import "core/utilities";

// -------------------------------------
// Modules
// -------------------------------------

@import "modules/article";

@import "modules/button";

@import "modules/phone";

@import "modules/equalheight";

@import "modules/header";

@import "modules/footer";

@import "modules/icon";

@import "modules/offerte";

@import "modules/youtube";

@import "modules/nav-toggle";

@import "modules/diensten";

@import "modules/italiaans-stuc";

@import "modules/slider";

@import "modules/sidebarmenu";

@import "modules/logo";

@import "modules/about";

@import "modules/home";

@import "modules/navigation";

@import "modules/table";

@import "modules/calculator";

@import "modules/landingspagina";
// -------------------------------------
// Inbox
// -------------------------------------

.Column img{
	margin-bottom: 1em;
}

.Keurmerken{
	margin-top: 5em;
}
.gf_inline::after{
	clear: both;
}


.aligncenter.size-full.wp-image-887{
	width: 44em;
}

//Gallery thumbnails
.ngg-gallery-thumbnail img {
	border: 0px !important;
	padding: 0px !important;
}

.tabtarget{
	display: none;
}


.Air-pic{
	display: inline;
}


.post-1004 > span {
	a{
		color: black;
	}
}


